{% extends 'CompanyPage.html' %} {% block body %}
<form action="#" method="post">
	{% csrf_token %}
	<table class="customers">
		<tr>
			<th>Date</th>
			<th>Student</th>
			<th>Contact</th>
			<th>Course</th>
			<th colspan="2">Action</th>
		</tr>
		{% for d in data %}
		<tr>
			<td>{{d.4}}</td>
			<td>{{d.7}}</td>
			<td>{{d.13}}</td>
			<td>{{d.17}}</td>
			{% if d.5 != "Accept" %}
			<td><a href="/approveApp?aid={{d.0}}&status=Accept">Accept</a></td>
			<td><a href="/approveApp?aid={{d.0}}&status=Reject">Reject</a></td>
			{% else %}
			<td colspan="2">Application Accepted</td>
			{% endif %}
		</tr>

		{% endfor %}
	</table>
	{% if msg %}
	<script>
		alert('{{msg}}');
	</script>
	{% endif %} {% endblock %}
</form>
