{% extends 'CompanyPage.html' %}
{% block body %}
<form action="#" method="post" >
{% csrf_token %}
<table class="customers">
    <tr>
            <th>Job ID</th>
            <th>Code</th>
            <th>Job</th>
            <th>Candidate</th>
            <th>Mobile</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.12}}</td>
        <td>{{d.14}}</td>
        <td>{{d.15}}</td>
        <td>{{d.4}}</td>
        <td>{{d.10}}</td>
    </tr>

    {% endfor %}
    </table>  
{% endblock %}