{% extends 'CompanyPage.html' %} {% block body %}
<form action="#" method="post">
	{% csrf_token %}
	<table class="customers">
		<tr>
			<th>Job</th>
			<th>Candidate ID</th>
			<th>Candidate</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Mark</th>
			<th></th>
			<th></th>
		</tr>
		{% for d in data %}
		<tr>
			<td>{{d.job.subcat.name}} <br>{{d.job.desc}}</td>
			<td>{{d.student.id}}</td>
			<td>{{d.student.name}}</td>
			<td>{{d.student.phone}}</td>
			<td>{{d.student.email}}</td>
			<td>{{d.mark}}</td>
			<td>{{d.result}}</td>
			<td>{{d.result2}}</td>
		</tr>

		{% endfor %}
	</table>
	{% if msg %}
	<script>
		alert('{{msg}}');
	</script>
	{% endif %} {% endblock %}
</form>
