<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Skill Point</title>
  
  
  
      <link rel="stylesheet" href="../static/Answer/css/style.css">

  
</head>

<body>
 

  <!-- Radio Button Module -->
  <br><center><h1>Exam successfully completed!!!</h1></center>

  <!-- Button -->
  <div class="button-box">
    <p style="color: white; font-size: 18px;">Your Score is : {{mark}}</p>
    <p style="color: white; font-size: 18px;">Your Result : {{result}}</p>
    <p><a href="/StudentHome">Back to Home</a></p>
  </div>

</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

    <script src="../static/Answer/js/index.js"></script>

</body>
</html>
